@use '../../style/utilities/variables' as v;

.cart {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 400px;
  max-height: 500px;
  border: 4px solid v.$secondary-color;
  background-color: v.$primary-color;
  left: 0;
  top: 57px;
  overflow: scroll;
  z-index: 100;

  .cart-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 420px;
    overflow: scroll;
    z-index: 100;
  }

  .close-cart {
    position: relative;
    left: 5px;
    top: 5px;
    padding: 0.5rem 0;
    width: fit-content;
  }
  .cart-item {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: v.$primary-color;
    padding: 1rem;

    img {
      width: 40px;
    }
    div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  .delete-cart-item {
    color: red;
  }

  button {
    height: 2rem;
    border: 2px solid v.$primary-color;
    background-color: v.$secondary-color;
    color: v.$primary-color;
    &:hover {
      background-color: v.$primary-color;
      color: v.$secondary-color;
      border: 2px solid v.$secondary-color;
    }
  }

  p {
    padding: 1rem;
    text-align: left;
    text-overflow: ellipsis;
  }
}

.cart-icon {
  position: fixed;
  left: 5px;
  top: 80px;

  .cart--number {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 10px;
    left: 22px;
    top: 8px;
    color: v.$primary-color;
    padding: 0.3rem;
    border-radius: 1rem;
    background-color: v.$secondary-color;
    width: fit-content;
    height: 1rem;
  }
}